form {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #100c0c;
    border-radius: 12px;
    background-color: #f7f4f4;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 6px;
  }
  
  button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h2 {
    text-align: center;
  }
  
  .login-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .login-link a {
    text-decoration: none;
    color: #007bff;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  